.popular-products {
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 1.2s ease-in-out;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #325166;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out, pulse 2s infinite 1.5s;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
