.map-card {
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Header styling */
.header {
  margin-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.welcome {
  font-size: 2.6rem;
  font-weight: 900;
  margin-bottom: 0.3rem;
  color: #0a4a86;
  text-shadow: 0 1px 3px rgba(10, 74, 134, 0.3);
}

.app-desc {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #333;
  max-width: 620px;
  margin: 0 auto;
}

.map-container {
  height: 450px;
  animation: fadeIn 0.8s ease-in-out;
}

lightning-map {
  height: 100%;
  width: 100%;
  border: none;
}

.info-text {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #2f2f2f;
  background-color: #fafafa;
  border-top: 1px solid #e3e3e3;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.welcome {
  font-size: 2.6rem;
  font-weight: 900;
  margin-bottom: 0.3rem;
  color: #0a4a86;
  text-shadow: 0 1px 3px rgba(10, 74, 134, 0.3);
}

.title-card {
  background-color: #f4f9fc;
  border-left: 6px solid #0a4a86;
}
/* popularProducts.css */
.popular-products {
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #325166;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ===========================
   Remove Lightning Card Styling
   =========================== */
.custom-card-container {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
